<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Martin Alemajoh">
    <title>Home | Martin Alemajoh</title>

    <link rel="shortcut icon" href="../image/favicon-32x32.png" type="image/x-icon">
    <link rel="shortcut icon" href="../image/favicon-16x16.png" type="image/x-icon">

    <!--Stylesheet-->
    <link rel="stylesheet" href="../css/style.css">
    <!--Font Awesome-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
    <main class="home">
        <div class="navigation">
            <div class="navigation_logo">
                <img src="../image/logo.svg" alt="logo">
            </div>
            <div class="navigation_tabs">
                <div data-tooltip="Chats"><span class="material-icons active">textsms</span></div>
                <div data-tooltip="Groups"><span class="material-icons">groups</span></div>
                <div data-tooltip="Friends"><span class="material-icons">people</span></div>
                <div data-tooltip="Profile"><span class="material-icons">person</span></div>
                <div data-tooltip="Settings"><span class="material-icons">settings</span></div>
            </div>
            <div class="navigation_extra">
                <div data-tooltip="Dark/Light"><span class="material-icons">dark_mode</span></div>
                <div class="avatar">A</div>
            </div>
        </div>
        <div class="tab_content"></div>
        <div class="chat_room">Chat Room</div>
        <div class="audio_room">Audio Room</div>
        <div class="video_room">Video Room</div>
        <div class="profile">Profile</div>
    </main>
</body>

</html>