<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Martin Alemajoh" />
    <title>Smack | Login</title>

    <link rel="shortcut icon" href="../image/favicon-32x32.png" type="image/x-icon" />
    <link rel="shortcut icon" href="../image/favicon-16x16.png" type="image/x-icon" />

    <!--Stylesheet-->
    <link rel="stylesheet" href="../css/style.css" />
    <!--Font Awesome-->
    <script defer src="https://kit.fontawesome.com/baa956de60.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <main class="smack">
      <div class="header">
        <img src="../image/logo.svg" alt="logo" />
        <h1>Sign in</h1>
        <p>Sign in to continue with smack</p>
      </div>
      <div class="smack_container">
        <span class="error hide_error">invalid phone or password</span>
        <form action="/login" method="post" id="smack_form">
          <div class="smack_form_phone">
            <label for="phone">Phone</label>
            <input type="tel" name="phone" id="phone" placeholder="5426985742" />
            <i class="fas fa-phone-alt"></i>
          </div>
          <div class="smack_form_password">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="............" />
            <i class="fas fa-lock"></i>
          </div>
          <div class="smack_form_more">
            <div class="smack_form_more__remember">
              <input type="checkbox" name="remember" id="remember" />
              <label>Remember me</label>
            </div>
            <div class="smack_form_more__forgot">
              <a href="/reset_request">Forgot password?</a>
            </div>
          </div>
          <button id="submit" class="btn btn-primary" type="submit">Sign in</button>
        </form>
      </div>
      <div class="footer">
        <p>Don't have an account? <a href="/signup">Sign up here</a></p>
      </div>
    </main>
    <script src="../js/login.js" type="module"></script>
  </body>
</html>
