<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Martin Alemajoh" />
    <title>Smack | Reset Request</title>

    <link rel="shortcut icon" href="../image/favicon-32x32.png" type="image/x-icon" />
    <link rel="shortcut icon" href="../image/favicon-16x16.png" type="image/x-icon" />

    <!--Stylesheet-->
    <link rel="stylesheet" href="../css/style.css" />
    <!--Font Awesome-->
    <script defer src="https://kit.fontawesome.com/baa956de60.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <main class="smack">
      <div class="header">
        <img src="../image/logo.svg" alt="logo" />
        <h1>Request a reset</h1>
        <p>It's ok, we all forget passwords</p>
      </div>
      <div class="smack_container">
        <span class="info hide_error"></span>
        <form action="/reset_request" method="post" id="smack_form">
          <div class="smack_form_code">
            <label for="phone">Phone</label>
            <input type="tel" name="phone" id="phone" />
            <i class="fas fa-envelope"></i>
          </div>
          <button id="submit" class="btn btn-primary" type="submit">Request reset</button>
        </form>
      </div>
      <div class="footer">
        <p>Did you remember? <a href="/login">Sign in</a></p>
      </div>
    </main>
    <script src="../js/reset_request.js" type="module"></script>
  </body>
</html>
